@model Docovee.DS.Models.DoctorLanguageEditModel

<div class="form-group">
    <label asp-for="Name">Language</label>
    <input asp-for="Name" class="form-control" placeholder="e.g. Spanish" />
</div>
<div class="form-group">
    <label asp-for="SortOrder">Sort Order</label>
    <input asp-for="SortOrder" type="number" min="0" class="form-control" />
</div>
<div class="form-group">
    <label><input asp-for="IsActive" /> Active</label>
</div>
